<div id="header">
	<!-- Inner -->
	<div class="inner">
		<header>
			<h1><a href="/home" id="logo"><img src="../images/logo.png" alt="Australian Passport Photos"/></a></h1>
		</header>
	</div>

	<!-- Nav -->
	<% include ../partials/nav.ejs %>
</div>