<!-- Header -->
<div id="header">
	<!-- Inner -->
	<div class="inner">
		<header>
			<h1><a href="/home" id="logo">AuPhoto</a></h1>
		</header>
	</div>

	<!-- Nav -->
	<nav id="nav">
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/order">Order</a></li>
			<li><a href="/edit">Edit photo</a></li>
			<li><a href="/checkout">Checkout</a></li>
			<li><a href="/confirmation">Confirmation</a></li>
			<li><a href="/tips">Tips</a></li>
			<li><a href="/feedback">Feedback</a></li>
		</ul>
	</nav>
</div>