<!-- Header -->
<div id="header">
	<!-- Inner -->
	<div class="inner">
		<header>
			<h1><a href="/home" id="logo">AuPhoto</a></h1>
		</header>
		<footer>
			<a href="/order" class="button">Order Now</a>
			<!--<a href="#banner" class="button circled scrolly">Start</a>-->
		</footer>
	</div>

	<!-- Nav -->
	<% include ../partials/nav.ejs %>
</div>