@mixin display_flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	@-moz-document url-prefix() {
		width: 100%;
		-moz-box-sizing: border-box;
	}
}

@mixin flex-direction_row {
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

@mixin flex-direction_column {
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

@mixin flex_110 {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1 1 0;
	-ms-flex: 1 1 0;
	flex: 1 1 0;
}

@mixin justify-content_center {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@mixin align-items_center {
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

@mixin order($n) {
	-webkit-box-ordinal-group: $n + 1;
	-moz-box-ordinal-group: $n + 1;
	-webkit-order: $n;
	-ms-flex-order: $n;
	order: $n;
}

@mixin align-self_stretch {
	-webkit-align-self: stretch;
	-moz-align-self: stretch;
	-ms-align-self: stretch;
	align-self: stretch;
}