<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<% var beforeInitExtendedScripts = '' +
				'<script src="../ext/js-load-image/load-image.js"></script>' +
				'<script src="../ext/js-load-image/load-image-ios.js"></script>' +
				'<script src="../ext/js-load-image/load-image-orientation.js"></script>' +
				'<script src="../ext/js-load-image/load-image-meta.js"></script>' +
				'<script src="../ext/js-load-image/load-image-exif.js"></script>' +
				'<script src="../ext/js-load-image/load-image-exif-map.js"></script>' %>
		<% include ../partials/head.ejs %>
	</head>
	<body class="no-sidebar">

		<!-- Header -->
		<% include ../partials/header.ejs %>
			
		<!-- Main -->
			<div class="wrapper style1">

				<div class="container">
					<article id="main" class="special">
						<header>
							<h2><a href="#">Order</a></h2>
							<p>
								Upload your photo
							</p>
							<!--<form action="/upload" enctype="multipart/form-data" method="post">-->
							<div class="upload-wrapper button">
								<span>Browse</span>
								<input type="file" id="uploadFileInput">
							</div>
							<br/>
							<div id="uploadFileNotification" class="upload-file-notification" ></div>


						</header>

						<section>
							<header>
								<h3>Some information on uploading photos that will be accepted by the Australian Passport Office</h3>
							</header>
							<p>
								Please press the "Upload" button and select your photo. Photo should be accepted by Australian Passport Office.
							</p>
						</section>

						<section>
							<header>
								<h3>The photograph must</h3>
							</header>
							<ul class="default">
								<li>be done by digital cameras with image capture size of 3000 x 2250 pixels (approximately 8 megapixels) or higher;</li>
								<li>be taken no more than six months before lodgement of a passport application form;</li>
								<li>show a close up of the applicant’s head and the top of the shoulders such that the vertical size of the head (as measured from the bottom of the chin to the crown of the head) is between 32 and 36 mm.</li>
							</ul>
							</section>

						<section>
							<header>
								<h3>For more detailed requirement go to:</h3>
							</header>
							<ul class="default">
								<li><a href="https://www.passports.gov.au/web/requirements/photos.aspx">General photograph guidelines</a></li>
								<li><a href="https://www.passports.gov.au/Web/requirements/photographguidelines.aspx">Camera operator guidelines</a></li>
							</ul>
						</section>
					</article>
				</div>

			</div>

		<!-- Footer -->
		<% include ../partials/footer.ejs %>

	</body>
</html>