<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<% include ../partials/head.ejs %>
</head>
<body class="no-sidebar">

	<!-- Header -->
	<% include ../partials/header.ejs %>

	<!-- Main -->
	<div class="wrapper style1">

		<div class="container">
			<article id="main" class="special">
				<header>
					<h2><a href="#">Tips</a></h2>
					<p>
						1-2-3 way to make your passport photo
					</p>
				</header>
				<!--<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
				<p>
					Commodo id natoque malesuada sollicitudin elit suscipit. Curae suspendisse mauris posuere accumsan massa
					posuere lacus convallis tellus interdum. Amet nullam fringilla nibh nulla convallis ut venenatis purus
					lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum
					consequat integer interdum integer purus sapien. Nibh eleifend nulla nascetur pharetra commodo mi augue
					interdum tellus. Ornare cursus augue feugiat sodales velit lorem. Semper elementum ullamcorper lacinia
					natoque aenean scelerisque vel lacinia mollis quam sodales congue.
				</p>-->
				<section>
					<header>
						<h3>1. Take your photo</h3>
					</header>
					<p>
						Some information on taking photos that will be accepted by the Australian Passport Office
					</p>
				</section>
				<section>
					<header>
						<h3>2. Upload your photo</h3>
					</header>
					<p>
						Some information on uploading photos that will be accepted by the Australian Passport Office
					</p>
				</section>
				<section>
					<header>
						<h3>3. Adjust your photo</h3>
					</header>
					<p>
						Some information on adjusting photos that will be accepted by the Australian Passport Office
					</p>
				</section>
			</article>
			<hr/>
			<% include ../partials/articles-proposal.ejs %>
		</div>

	</div>

	<!-- Footer -->
	<% include ../partials/footer.ejs %>

</body>
</html>